#main-title {
    margin-bottom: 0em;
}

#subtitle {
    margin-top: 0em;
    margin-bottom: 1.25em;
    color: var(--md-default-fg-color--light);
    font-size: 0.9rem;
}

.md-social__link {
    height: inherit;

    svg {
        max-height: 1rem;
    }
}